<div class="feedback-list-item">
  <div class="user-rating">
    <div class="user-data">
      <LinkTo @route="user" @model={{@feedback.user.username}}>
        {{avatar @feedback.user imageSize="large"}}
      </LinkTo>
      <div class="rating-data">
        <span class="username">{{@feedback.user.username}}</span>
        <RatingInput @value={{@feedback.rating}} @readOnly={{true}} />
        {{#if @feedback.admin_modified}}
          <span class="admin-modified-indicator">
            {{d-icon "shield-alt"}} {{i18n "discourse_user_feedbacks.admin_modified"}}
          </span>
        {{/if}}
      </div>
    </div>
    <div class="feedback-meta">
      {{format-date @feedback.created_at format="medium"}}
      {{#if @feedback.admin_modified_at}}
        <br>
        <small class="admin-modified-text">
          {{i18n "discourse_user_feedbacks.modified_by_admin"}} 
          {{@feedback.admin_modified_by.username}} 
          {{format-date @feedback.admin_modified_at format="tiny"}}
        </small>
      {{/if}}
    </div>
  </div>
  {{#if @feedback.review}}
    <p class="feedback-review">
      {{html-safe @feedback.review}}
    </p>
  {{/if}}
  <hr>
</div>
