<div class="rating user-ratings">
  <span 
    class="icon {{if this.checkedOne "checked"}} {{if this.percentageOne "partial"}} {{if @readOnly "read-only"}}" 
    {{on "click" (fn this.changeRating 1)}}
    role="button"
    tabindex="0"
  >
    {{#if this.checkedOne}}★{{else}}☆{{/if}}
    {{#if this.percentageOne}}
      <span class="partial-fill" style="width:{{this.percentageOne}}%;">★</span>
    {{/if}}
  </span>
  <span 
    class="icon {{if this.checkedTwo "checked"}} {{if this.percentageTwo "partial"}} {{if @readOnly "read-only"}}" 
    {{on "click" (fn this.changeRating 2)}}
    role="button"
    tabindex="0"
  >
    {{#if this.checkedTwo}}★{{else}}☆{{/if}}
    {{#if this.percentageTwo}}
      <span class="partial-fill" style="width:{{this.percentageTwo}}%;">★</span>
    {{/if}}
  </span>
  <span 
    class="icon {{if this.checkedThree "checked"}} {{if this.percentageThree "partial"}} {{if @readOnly "read-only"}}" 
    {{on "click" (fn this.changeRating 3)}}
    role="button"
    tabindex="0"
  >
    {{#if this.checkedThree}}★{{else}}☆{{/if}}
    {{#if this.percentageThree}}
      <span class="partial-fill" style="width:{{this.percentageThree}}%;">★</span>
    {{/if}}
  </span>
  <span 
    class="icon {{if this.checkedFour "checked"}} {{if this.percentageFour "partial"}} {{if @readOnly "read-only"}}" 
    {{on "click" (fn this.changeRating 4)}}
    role="button"
    tabindex="0"
  >
    {{#if this.checkedFour}}★{{else}}☆{{/if}}
    {{#if this.percentageFour}}
      <span class="partial-fill" style="width:{{this.percentageFour}}%;">★</span>
    {{/if}}
  </span>
  <span 
    class="icon {{if this.checkedFive "checked"}} {{if this.percentageFive "partial"}} {{if @readOnly "read-only"}}" 
    {{on "click" (fn this.changeRating 5)}}
    role="button"
    tabindex="0"
  >
    {{#if this.checkedFive}}★{{else}}☆{{/if}}
    {{#if this.percentageFive}}
      <span class="partial-fill" style="width:{{this.percentageFive}}%;">★</span>
    {{/if}}
  </span>
</div>
